body {
  font-family:      "Open Sans", sans-serif;
  font-size:        medium;
  margin-top:       6%;
  margin-bottom:    5%;
  margin-left:      8%;
  margin-right:     10%;

  letter-spacing:   0.8pt;
}

a {
    color: blueviolet;
    text-decoration-line: none;
    font-weight:      600;
}

a:hover {
  text-decoration:  underline;
}

a img {
  border:           0;
}

h2 {
  font-size:        150%;
}

p {

}

tr {

}

td, th {
  padding:          10px;
  font-weight:      bold;
}

.copyright {
  font-size:        75%;
  font-style:       italic;
}
.slogan {
  font-size:        75%;
  font-style:       italic;
}
.confirmentry {
  font-weight:      600;
}

/*** Tables ***/

table {
  font-size:          1em;
  background-color:   #939dbf66;;
  color:              #2a2a2a;
  padding:            20px;
}

/*** Inputs ***/
input[type=text] {
  font-size:        120%;
  width:            30em;
  height:           20pt;
}

button {
	background-color:       #ffffff;
	display:                inline-block;
	cursor:                 pointer;
	color:                  rgba(92, 99, 155, 0.99);
	font-size:              16px;
    font-weight:            bold;
	padding:                8px 24px;
	text-decoration:        none;
    border:                 none;
    letter-spacing: 1px;
}

button:hover {
	background-color:       #70b6f0; /*#5c639b;*/
    color:                  white;
    font-weight:            bold;
}
button:focus {
    outline:                none;
}
button:active {
	position:               relative;
	top:                    1px;
}

a.button {
	background-color:       #ffffff;
	display:                inline-block;
	cursor:                 pointer;
	color:                  rgba(92, 99, 155, 0.99);
	font-size:              16px;
    font-weight:            bold;
	padding:                8px 24px;
	text-decoration:        none;
    border:                 none;
    letter-spacing: 1px;
}