{% extends 'base.html' %}

{% block body %}
    <h2> {{ the_title }}</h2>

    <form id="form1" method="POST" action="/search4">

    <table>

        <p>Use this formular for your search:</p>
        <tr>
            <td>Text:</td>
            <td><input name="phrase" type="TEXT" width="60"></td>
        </tr>
        <tr>
            <td>Letters:</td>
            <td><input name="letters" type="TEXT"></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><button type="SUBMIT">Search</button></td>
            <td><button form="form1" type="reset">clear</button></td>
            <td><button formaction="/viewlog">View Log</button></td>
            <td><button id="clearlog" formaction="/clearlog">Clear Log</button></td>

        </tr>
    </table>



    </form>
{% endblock %}
